<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cart</title>
</head>
<body>
     <!-- navbar -->
     <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html" id="logo"><span id="span1">AS </span>INCUBATORS<span></span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="{% static '/images/menu.png' %}" alt="" width="30px"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products/products">Home</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/about/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact/contact">Contact</a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                <ul>hello,{{user.first_name}}</ul><a class="nav-link" href="/accounts/logout">Logout</a>
                
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/accounts/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login</a>
              </li>
              {% endif %}
              <li ><span><li class="fa-solid fa-cart-shopping"  style="color: aqua; margin-top: 10px; margin-left: 20px; cursor: pointer; "></li></span></li>
            </ul>
            <form class="d-flex" id="search">
                
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

          </div>
        </div>
      </nav>

</body>
</html>